<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SunriseNotifier.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8DF3A92036F1C368A169EB1D6B6FCAA660788BCF</string>
				<key>dateExpires</key>
				<string>5/2/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>923VQ2CPGW.com.AmigoSoftwareLabs.SunriseSunsetNotifier</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>923VQ2CPGW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>SunriseSunsetNotifier.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9b37ede2-a826-4dd8-a3b2-f383b624647d</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.AmigoSoftwareLabs.SunriseSunsetNotifier</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>923VQ2CPGW</string>
				<key>name</key>
				<string>Amigo Software Labs LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
